
/* Search container */
.search-container {
  display: flex;
  align-items: center;
  height: 45px;
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid black;
}

/* Search input */
.search-container #search {
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 0.9rem;
  flex: 1;
  height: 100%;
}

/* Search icon */
.search-container #icon {
  background-color: white;
  color: black;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
  cursor: pointer;
  height: 100%;
}

/* Cart icon */
#cart {
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
}

.heading{
    color: #008000;
    font-size: 3rem;
    text-align: center;
    margin-top: 120px;
}

img{
    margin-left: 100px;
    width: 900px;
}

.main{
    display: flex;
    margin-bottom:60px;
}

.formm{
  height: max-content;
    margin-left: 4rem;
    background-color: #F9F9F9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

input{
    font-size: 2rem;
    border-radius: 5px;
}

input:focus{
  outline: none;
  border: 3px solid #008000;
  box-shadow: 0 0 5px #008000;
}

textarea:focus{
  outline: none;
  border: 3px solid #008000;
  box-shadow: 0 0 5px #008000;
}


label{
    color: #008000;
    font-size: 2rem;
    font-weight: 500;

}

textarea{
    width: 500px;
    height: 300px;
    font-size: 2rem;
    border-radius: 5px;
}



@media (max-width: 992px) {
  .main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  img {
    width: 80%;
    margin: 20px auto;
  }

  .formm {
    width: 80%;
    margin: 30px auto;
  }

  textarea {
    width: 100%;
    height: 250px;
  }

  input {
    width: 100%;
    font-size: 1.5rem;
  }

  label {
    font-size: 1.5rem;
  }

  .btn {
    width: 80%;
  }
}

/* For small screens like mobile phones (max-width: 600px) */
@media (max-width: 600px) {
  .heading {
    font-size: 2rem;
    margin-top: 100px;
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 20px;
  }

  .logo img {
    height: 50px;
  }

  .hamburger {
    display: block;
  }


  .nav-links {
    width: 100%;
    flex-direction: column;
    gap: 15px;
    display: none;
  }

  .nav-links.mobile-active {
    display: flex;
  }

  .nav-links li a {
    font-size: 1rem;
  }

  .nav-actions {
    width: 100%;
    margin-top: 10px;
    gap: 10px;
  }

  .search-container {
    width: 65%;
    height: 40px;
  }

  .search-container #search {
    font-size: 0.9rem;
  }

  #cart {
    font-size: 1.2rem;
  }

  .main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  main h1{
    padding-top: 10px;
  }
  img {
    width: 90%;
    margin: 10px auto;
  }

  .formm {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
  }

  input {
    height: 40px;
    width: 100%;
    font-size: 1.2rem;
  }

  textarea {
    width: 100%;
    font-size: 1.2rem;
    height: 180px;
  }

  .btn {
    width: 100%;
    height: 45px;
  }

  footer {
    font-size: 0.9rem;
    padding: 10px 20px;
  }

  footer .socials a i {
    font-size: 24px;
  }
}
