
/* Profile Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  top: 100%;
  right: 0;
}

.dropdown-content a {
  color: black !important; /* Override nav link color */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: green !important;
}

#profile-link {
  position: relative;
}

#profile-link:hover .dropdown-content {
  display: block;
}
